<template>
    <div class="dropper">
        <input
                type="file"
                @change="uploadImages($event.target.files)"
                multiple
                accept="image/*"
        />
        <span>Drag files here!</span>
    </div>
</template>

<script>
    import { mapActions } from 'vuex';

    export default {
        name: "UploadForm",
        methods: {
            ...mapActions(['uploadImages'])
        }
    }
</script>

<style scoped>
    .dropper {
        border: 2px dashed black;
        border-radius: 5px;
        height: 30vh;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }
    .dropper:hover {
        background-color: #eee;
        cursor: pointer;
    }
    input {
        height: 30vh;
        opacity: 0;
        position: absolute;
        width: 100%;
    }
</style>